@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.scss';

.w-1\/8 {
  width: 12.5%;
}

.h-1\/8 {
  height: 12.5%;
}

// 1 - row
.board-position-00 {
  top: 87.5%;
  left: 0%;
}

.board-position-01 {
  top: 87.5%;
  left: 12.5%;
}

.board-position-02 {
  top: 87.5%;
  left: 25%;
}

.board-position-03 {
  top: 87.5%;
  left: 37.5%;
}

.board-position-04 {
  top: 87.5%;
  left: 50%;
}

.board-position-05 {
  top: 87.5%;
  left: 62.5%;
}

.board-position-06 {
  top: 87.5%;
  left: 75%;
}

.board-position-07 {
  top: 87.5%;
  left: 87.5%;
}

// 2 - row
.board-position-10 {
  top: 75%;
  left: 0%;
}

.board-position-11 {
  top: 75%;
  left: 12.5%;
}

.board-position-12 {
  top: 75%;
  left: 25%;
}

.board-position-13 {
  top: 75%;
  left: 37.5%;
}

.board-position-14 {
  top: 75%;
  left: 50%;
}

.board-position-15 {
  top: 75%;
  left: 62.5%;
}

.board-position-16 {
  top: 75%;
  left: 75%;
}

.board-position-17 {
  top: 75%;
  left: 87.5%;
}

// 3 - row
.board-position-20 {
  top: 62.5%;
  left: 0%;
}

.board-position-21 {
  top: 62.5%;
  left: 12.5%;
}

.board-position-22 {
  top: 62.5%;
  left: 25%;
}

.board-position-23 {
  top: 62.5%;
  left: 37.5%;
}

.board-position-24 {
  top: 62.5%;
  left: 50%;
}

.board-position-25 {
  top: 62.5%;
  left: 62.5%;
}

.board-position-26 {
  top: 62.5%;
  left: 75%;
}

.board-position-27 {
  top: 62.5%;
  left: 87.5%;
}

// 4 - row
.board-position-30 {
  top: 50%;
  left: 0%;
}

.board-position-31 {
  top: 50%;
  left: 12.5%;
}

.board-position-32 {
  top: 50%;
  left: 25%;
}

.board-position-33 {
  top: 50%;
  left: 37.5%;
}

.board-position-34 {
  top: 50%;
  left: 50%;
}

.board-position-35 {
  top: 50%;
  left: 62.5%;
}

.board-position-36 {
  top: 50%;
  left: 75%;
}

.board-position-37 {
  top: 50%;
  left: 87.5%;
}

// 5 - row
.board-position-40 {
  top: 37.5%;
  left: 0%;
}

.board-position-41 {
  top: 37.5%;
  left: 12.5%;
}

.board-position-42 {
  top: 37.5%;
  left: 25%;
}

.board-position-43 {
  top: 37.5%;
  left: 37.5%;
}

.board-position-44 {
  top: 37.5%;
  left: 50%;
}

.board-position-45 {
  top: 37.5%;
  left: 62.5%;
}

.board-position-46 {
  top: 37.5%;
  left: 75%;
}

.board-position-47 {
  top: 37.5%;
  left: 87.5%;
}

// 6 - row
.board-position-50 {
  top: 25%;
  left: 0%;
}

.board-position-51 {
  top: 25%;
  left: 12.5%;
}

.board-position-52 {
  top: 25%;
  left: 25%;
}

.board-position-53 {
  top: 25%;
  left: 37.5%;
}

.board-position-54 {
  top: 25%;
  left: 50%;
}

.board-position-55 {
  top: 25%;
  left: 62.5%;
}

.board-position-56 {
  top: 25%;
  left: 75%;
}

.board-position-57 {
  top: 25%;
  left: 87.5%;
}

// 7 - row
.board-position-60 {
  top: 12.5%;
  left: 0%;
}

.board-position-61 {
  top: 12.5%;
  left: 12.5%;
}

.board-position-62 {
  top: 12.5%;
  left: 25%;
}

.board-position-63 {
  top: 12.5%;
  left: 37.5%;
}

.board-position-64 {
  top: 12.5%;
  left: 50%;
}

.board-position-65 {
  top: 12.5%;
  left: 62.5%;
}

.board-position-66 {
  top: 12.5%;
  left: 75%;
}

.board-position-67 {
  top: 12.5%;
  left: 87.5%;
}

// 8 - row
.board-position-70 {
  top: 0%;
  left: 0%;
}

.board-position-71 {
  top: 0%;
  left: 12.5%;
}

.board-position-72 {
  top: 0%;
  left: 25%;
}

.board-position-73 {
  top: 0%;
  left: 37.5%;
}

.board-position-74 {
  top: 0%;
  left: 50%;
}

.board-position-75 {
  top: 0%;
  left: 62.5%;
}

.board-position-76 {
  top: 0%;
  left: 75%;
}

.board-position-77 {
  top: 0%;
  left: 87.5%;
}
