@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.scss';

.w-1\/8 {
  width: 12.5%;
}

.h-1\/8 {
  height: 12.5%;
}

// 1 - row
.board-position-a1 {
  top: 87.5%;
  left: 87.5%;
}

.board-position-a2 {
  top: 75%;
  left: 87.5%;
}

.board-position-a3 {
  top: 62.5%;
  left: 87.5%;
}

.board-position-a4 {
  top: 50%;
  left: 87.5%;
}

.board-position-a5 {
  top: 37.5%;
  left: 87.5%;
}

.board-position-a6 {
  top: 25%;
  left: 87.5%;
}

.board-position-a7 {
  top: 12.5%;
  left: 87.5%;
}

.board-position-a8 {
  top: 0%;
  left: 87.5%;
}

// 2 - row
.board-position-b1 {
  top: 87.5%;
  left: 75%;
}

.board-position-b2 {
  top: 75%;
  left: 75%;
}

.board-position-b3 {
  top: 62.5%;
  left: 75%;
}

.board-position-b4 {
  top: 50%;
  left: 75%;
}

.board-position-b5 {
  top: 37.5%;
  left: 75%;
}

.board-position-b6 {
  top: 25%;
  left: 75%;
}

.board-position-b7 {
  top: 12.5%;
  left: 75%;
}

.board-position-b8 {
  top: 0%;
  left: 75%;
}

// 3 - row
.board-position-c1 {
  top: 87.5%;
  left: 62.5%;
}

.board-position-c2 {
  top: 75%;
  left: 62.5%;
}

.board-position-c3 {
  top: 62.5%;
  left: 62.5%;
}

.board-position-c4 {
  top: 50%;
  left: 62.5%;
}

.board-position-c5 {
  top: 37.5%;
  left: 62.5%;
}

.board-position-c6 {
  top: 25%;
  left: 62.5%;
}

.board-position-c7 {
  top: 12.5%;
  left: 62.5%;
}

.board-position-c8 {
  top: 0%;
  left: 62.5%;
}

// 4 - row
.board-position-d1 {
  top: 87.5%;
  left: 50%;
}

.board-position-d2 {
  top: 75%;
  left: 50%;
}

.board-position-d3 {
  top: 62.5%;
  left: 50%;
}

.board-position-d4 {
  top: 50%;
  left: 50%;
}

.board-position-d5 {
  top: 37.5%;
  left: 50%;
}

.board-position-d6 {
  top: 25%;
  left: 50%;
}

.board-position-d7 {
  top: 12.5%;
  left: 50%;
}

.board-position-d8 {
  top: 0%;
  left: 50%;
}

// 5 - row
.board-position-e1 {
  top: 87.5%;
  left: 37.5%;
}

.board-position-e2 {
  top: 75%;
  left: 37.5%;
}

.board-position-e3 {
  top: 62.5%;
  left: 37.5%;
}

.board-position-e4 {
  top: 50%;
  left: 37.5%;
}

.board-position-e5 {
  top: 37.5%;
  left: 37.5%;
}

.board-position-e6 {
  top: 25%;
  left: 37.5%;
}

.board-position-e7 {
  top: 12.5%;
  left: 37.5%;
}

.board-position-e8 {
  top: 0%;
  left: 37.5%;
}

// 6 - row
.board-position-f1 {
  top: 87.5%;
  left: 25%;
}

.board-position-f2 {
  top: 75%;
  left: 25%;
}

.board-position-f3 {
  top: 62.5%;
  left: 25%;
}

.board-position-f4 {
  top: 50%;
  left: 25%;
}

.board-position-f5 {
  top: 37.5%;
  left: 25%;
}

.board-position-f6 {
  top: 25%;
  left: 25%;
}

.board-position-f7 {
  top: 12.5%;
  left: 25%;
}

.board-position-f8 {
  top: 0%;
  left: 25%;
}

// 7 - row
.board-position-g1 {
  top: 87.5%;
  left: 12.5%;
}

.board-position-g2 {
  top: 75%;
  left: 12.5%;
}

.board-position-g3 {
  top: 62.5%;
  left: 12.5%;
}

.board-position-g4 {
  top: 50%;
  left: 12.5%;
}

.board-position-g5 {
  top: 37.5%;
  left: 12.5%;
}

.board-position-g6 {
  top: 25%;
  left: 12.5%;
}

.board-position-g7 {
  top: 12.5%;
  left: 12.5%;
}

.board-position-g8 {
  top: 0%;
  left: 12.5%;
}

// 8 - row
.board-position-h1 {
  top: 87.5%;
  left: 0%;
}

.board-position-h2 {
  top: 75%;
  left: 0%;
}

.board-position-h3 {
  top: 62.5%;
  left: 0%;
}

.board-position-h4 {
  top: 50%;
  left: 0%;
}

.board-position-h5 {
  top: 37.5%;
  left: 0%;
}

.board-position-h6 {
  top: 25%;
  left: 0%;
}

.board-position-h7 {
  top: 12.5%;
  left: 0%;
}

.board-position-h8 {
  top: 0%;
  left: 0%;
}
