@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'normalize.scss';

.w-1\/8 {
  width: 12.5%;
}

.h-1\/8 {
  height: 12.5%;
}

// 1 - row
.chess-piece-00 {
  top: 87.5%;
  left: 0%;
}

.chess-piece-01 {
  top: 87.5%;
  left: 12.5%;
}

.chess-piece-02 {
  top: 87.5%;
  left: 25%;
}

.chess-piece-03 {
  top: 87.5%;
  left: 37.5%;
}

.chess-piece-04 {
  top: 87.5%;
  left: 50%;
}

.chess-piece-05 {
  top: 87.5%;
  left: 62.5%;
}

.chess-piece-06 {
  top: 87.5%;
  left: 75%;
}

.chess-piece-07 {
  top: 87.5%;
  left: 87.5%;
}

// 2 - row
.chess-piece-10 {
  top: 75%;
  left: 0%;
}

.chess-piece-11 {
  top: 75%;
  left: 12.5%;
}

.chess-piece-12 {
  top: 75%;
  left: 25%;
}

.chess-piece-13 {
  top: 75%;
  left: 37.5%;
}

.chess-piece-14 {
  top: 75%;
  left: 50%;
}

.chess-piece-15 {
  top: 75%;
  left: 62.5%;
}

.chess-piece-16 {
  top: 75%;
  left: 75%;
}

.chess-piece-17 {
  top: 75%;
  left: 87.5%;
}

// 3 - row
.chess-piece-20 {
  top: 62.5%;
  left: 0%;
}

.chess-piece-21 {
  top: 62.5%;
  left: 12.5%;
}

.chess-piece-22 {
  top: 62.5%;
  left: 25%;
}

.chess-piece-23 {
  top: 62.5%;
  left: 37.5%;
}

.chess-piece-24 {
  top: 62.5%;
  left: 50%;
}

.chess-piece-25 {
  top: 62.5%;
  left: 62.5%;
}

.chess-piece-26 {
  top: 62.5%;
  left: 75%;
}

.chess-piece-27 {
  top: 62.5%;
  left: 87.5%;
}

// 4 - row
.chess-piece-30 {
  top: 50%;
  left: 0%;
}

.chess-piece-31 {
  top: 50%;
  left: 12.5%;
}

.chess-piece-32 {
  top: 50%;
  left: 25%;
}

.chess-piece-33 {
  top: 50%;
  left: 37.5%;
}

.chess-piece-34 {
  top: 50%;
  left: 50%;
}

.chess-piece-35 {
  top: 50%;
  left: 62.5%;
}

.chess-piece-36 {
  top: 50%;
  left: 75%;
}

.chess-piece-37 {
  top: 50%;
  left: 87.5%;
}

// 5 - row
.chess-piece-40 {
  top: 37.5%;
  left: 0%;
}

.chess-piece-41 {
  top: 37.5%;
  left: 12.5%;
}

.chess-piece-42 {
  top: 37.5%;
  left: 25%;
}

.chess-piece-43 {
  top: 37.5%;
  left: 37.5%;
}

.chess-piece-44 {
  top: 37.5%;
  left: 50%;
}

.chess-piece-45 {
  top: 37.5%;
  left: 62.5%;
}

.chess-piece-46 {
  top: 37.5%;
  left: 75%;
}

.chess-piece-47 {
  top: 37.5%;
  left: 87.5%;
}

// 6 - row
.chess-piece-50 {
  top: 25%;
  left: 0%;
}

.chess-piece-51 {
  top: 25%;
  left: 12.5%;
}

.chess-piece-52 {
  top: 25%;
  left: 25%;
}

.chess-piece-53 {
  top: 25%;
  left: 37.5%;
}

.chess-piece-54 {
  top: 25%;
  left: 50%;
}

.chess-piece-55 {
  top: 25%;
  left: 62.5%;
}

.chess-piece-56 {
  top: 25%;
  left: 75%;
}

.chess-piece-57 {
  top: 25%;
  left: 87.5%;
}

// 7 - row
.chess-piece-60 {
  top: 12.5%;
  left: 0%;
}

.chess-piece-61 {
  top: 12.5%;
  left: 12.5%;
}

.chess-piece-62 {
  top: 12.5%;
  left: 25%;
}

.chess-piece-63 {
  top: 12.5%;
  left: 37.5%;
}

.chess-piece-64 {
  top: 12.5%;
  left: 50%;
}

.chess-piece-65 {
  top: 12.5%;
  left: 62.5%;
}

.chess-piece-66 {
  top: 12.5%;
  left: 75%;
}

.chess-piece-67 {
  top: 12.5%;
  left: 87.5%;
}

// 8 - row
.chess-piece-70 {
  top: 0%;
  left: 0%;
}

.chess-piece-71 {
  top: 0%;
  left: 12.5%;
}

.chess-piece-72 {
  top: 0%;
  left: 25%;
}

.chess-piece-73 {
  top: 0%;
  left: 37.5%;
}

.chess-piece-74 {
  top: 0%;
  left: 50%;
}

.chess-piece-75 {
  top: 0%;
  left: 62.5%;
}

.chess-piece-76 {
  top: 0%;
  left: 75%;
}

.chess-piece-77 {
  top: 0%;
  left: 87.5%;
}
